@import './../../common/style/vars';

.sliderContainer {
  color: $main-light-color;
  position: relative;
  width: 300px;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgb(200, 200, 200, 0.5);
  }
}
